/*---PRIMARY PRINTER Styles---*/

hr  {
	border-color: black;
}

.pp-header {
	text-align: center;
	background-color: #00afec;
	color: white;
	text-shadow: 2px 2px black;
	border-top: 1.2em solid #00afec;
	margin-bottom: 0;
	padding: 3em 1em;
	background-image: url('../images/print-mix-dk.jpg');
	background-size: cover;
}


.pp-header h1 {
	font-family: 'Droid Serif', serif;
	font-size: 4em;
	font-weight: 400;
	margin-bottom: 0;
}

.pp-header p {
	font-family: 'Droid Serif', sans-serif;
	margin-top: 0.2em;
	font-size: 1.6em;
	font-weight: 400;
}

.pp-codes {
	color: white;
	background-color: #00afec;
	padding: 14px 0 2px 0;
	text-align: center;
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	font-size: 1.1em;
	margin-top: 0;
	letter-spacing: 3px;
}

.pp-download {
	padding: 0 15px;
	text-align: center;
}

.pp-download h4 {
	margin-top: 0;
}

.pp-btn {
	border: 2px solid deeppink;
	color: deeppink;
	padding: 15px;
	font-size: 1.2em;
	margin-top: 10px;
	width: 250px;
}

.pp-btn:hover {
	background-color: deeppink;
	color: white;
}

.pp-copy {
	padding: 20px 25px;
}

.pp-download > p,
.pp-copy > p {
	font-family: 'Droid Serif', serif;
	font-weight: 400;
	font-size: 1.1em;
	line-height: 1.5em;
}

.pp-contact {
	text-align: center;
	padding: 10px 20px 25px 20px;
}

.pp-contact > p {
	font-size: 1.3em;
	margin-top: 10px;
}

.pp-contact > a {
	text-decoration: none;
	color: #00afec;
	font-size: 1.4em;
}

.pp-contact > a:hover {
	text-decoration: none;
	color: deeppink;
	font-size: 1.4em;
}

.phone a:hover,
.phone a {
	text-decoration: none;
	color: black;
}

.pp-footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 10px 0;
}


@media screen and (min-width: 768px) {
.pp-copy {
	padding: 60px 20px 20px 0;
}
.pp-download {
	padding: 60px 20px 10px 20px;
}
.pp-header {
	padding: 16em 0;
}
.pp-header h1 {
	font-size: 5em;
}
.pp-header p {
	font-size: 1.8em;
}


}








